<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 
    
    
    
    
    <h:head>
        <title>ProgGyan ONLINE</title> 
    </h:head> 
    
    <h:body> 
        <f:view> 
            <h:form>  
                <p:messages id="msg" closable="true" showDetail="true"/>
                <p:panelGrid columns="2"> 
                    <h:outputLabel value="Select Category Name"/> 
                    <p:selectOneMenu value="#{obj2.catname}"> 
                        <f:selectItem itemLabel="Select Category Name" itemValue="" />
                        <f:selectItems value="#{obj2.categoryName}" /> 
                    </p:selectOneMenu> 
                    
                    <h:outputLabel value="Sub Category Name"/> 
                    <h:inputTextarea value="#{obj2.subcat.subCatName}"/> 
                    
                    <h:outputLabel value="Sub Category Description"/> 
                    <h:inputTextarea value="#{obj2.subcat.subCatDesc}"/> 
                    
                    <p:commandButton update="msg" value="Save" action="#{obj2.addSubCategory()}"/> 
                </p:panelGrid> 
            </h:form> 
        </f:view> 
    </h:body> 
</html> 











